<section class="pt-3">
    <div class="container">
        <header>
            <h3 class="mb-0 mb-md-3">Recently Added</h3>
        </header>

        <div *ngIf="!loading">

            <div *ngIf="products.length > 0; else noProducts" class="row">
                <div *ngFor="let product of products" class="col-lg-3 col-md-4 col-sm-6">
                    <div *ngIf="product.isActive" >
                        <figure class="card shadow">
                            <a routerLink="/products/{{ product.id}}" class="img-wrap">
                                <b class="badge bg-success">Discount</b>
                                <img src="../../assets/img/{{ product.imageUrl}}" alt="">
                            </a>
                            <figcaption class="info-wrap border-top">
                                <a href="" class="float-end btn btn-light btn-icon">
                                    <i class="fa fa-heart"></i>
                                </a>
                                <a routerLink="/products/{{ product.id}}" class="title text-truncate">
                                    {{ product.description }}
                                </a>
                                <div class="price-wrap">
                                    <span class="price me-1">{{ product.price }}$</span>
                                    <del class="price-old">{{product.oldPrice}}$</del>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            
            
            <ng-template #noProducts>
                <div class="alert alert-warning">
                    No Products
                </div>
            </ng-template>
        </div>

        <div *ngIf="loading" class="spinner-border text-danger" role="status">
            <span class="visually-hidden"></span>
        </div>
            
    </div>
</section>
