<footer class="py-4 bg-main-color">
    <div class="container">
        <div class="row gy-3">
            <div class="col-md-4">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email">
                        <button class="btn btn-outline-warning">Subscribe</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <nav class="text-center text-md-end">
                    <a class="btn btn-icon btn-outline-warning me-1">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-icon btn-outline-warning me-1">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-icon btn-outline-warning me-1">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a class="btn btn-icon btn-outline-warning me-1">
                        <i class="fab fa-twitter"></i>
                    </a>
                </nav>
            </div>
            <div class="col-md-12">
                <p class="text-center text-white">
                    @2025 All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
